/*---------------------------------
    GENERIC STYLES
---------------------------------*/
html {
    font-family: sans-serif;
    font-size: 65.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: Georgia, serif;
    line-height: normal;
    color:#333;
    background-color: #fff;
}

* {
    box-sizing: border-box;
  }
  
.row > .column {
    padding: 0 8px;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.column {
    float: left;
    width: 25%;
}
  
input {
    width: 40%;
    border: 1px solid rgb(0, 86, 139);
    border-radius: 6px;
    margin: 2px;
}

nav {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #36bcaf;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h1::after {
    display: block;
    height: 2px;
    width: 150px;
    background: #050404;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    line-height: 50px;
    color: #020202
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

/*--------------------------------------------------
    HOME SECTION STYLES
--------------------------------------------------*/
#home {
    background: url(../images/Thumb/backgroung1.jpg)no-repeat 50% 50% ;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top:  350px; /*This is spacer before the Main title Logo*/
    padding-bottom: 500px; /*This is spacer after the Main title Logo*/
    color: #fff;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}
  
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Number text (1/2 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
img {
    margin-bottom: -4px;
}
  
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
  
.demo {
    opacity: 0.6;
}
  .active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}